.hero-section {
  height: fit-content;
  width: 100%;
  margin-bottom: var(--space-2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .hero-inner {
  width: 100%;
  /* background: linear-gradient(
    90deg,
    rgba(32, 153, 186, 0.33) 0%,
    rgba(87, 199, 133, 0.25) 100%
  ); */
  background: linear-gradient(
    -90deg,
    rgba(8, 189, 171, 0.4) 50%,
    rgba(0, 255, 217, 0.4) 100%
  );

  padding: 20px 0;
  border-radius: var(--radius-2);
}
.hero-section .content .hs-product {
  display: flex !important;
  flex-flow: row-reverse wrap;
  align-items: center;
  position: relative;
  width: 100%;
}
.hero-section .content .hs-product .info {
  text-align: start;
  width: 50%;
  padding: 5px;
  text-transform: uppercase;
  color: var(--primary-color);
}
.hero-section .content .hs-product .info .type {
  width: fit-content;
  border-bottom: 1px solid var(--primary-color);
}
.hero-section .content .hs-product .name {
  max-width: 100%;
  margin-top: 20px;
  font-size: 2.5rem;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  color: var(--dark-color);
}
.hero-section .content .hs-product .image-wraper {
  width: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section .content .hs-product .image {
  width: 100%;
  max-width: 600px;
  object-fit: contain;
  object-position: center;
  aspect-ratio: 4/3;
}
.hero-section .content .hs-product .info .rating {
  display: flex;
  margin-top: 15px;
  font-size: 40px;
}
.hero-section .content .hs-product .info > * {
  margin-left: 20px;
}
.hero-section .content .hs-product .info .discount-title {
  font-size: 2rem;
  color: var(--dark-color);
}
.hero-section .content .hs-product .info .discount-title span {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}
.hero-section .content .hs-product .info button {
  position: absolute;
  left: 5px;
  bottom: 0%;
  width: 200px;
  margin-left: 20px;
  border-radius: 0px;
  padding: 15px 20px;
  border-color: var(--dark-color);
  color: var(--dark-color);
  transition: var(--tr-2);
  font-weight: bold;
}
.hero-section .content .hs-product .info button:hover {
  color: white;
  background-color: var(--main-color);
  border-color: var(--main-color);
}
@media (max-width: 900px) {
  .hero-section .content .hs-product .info > * {
    margin-left: 0px;
  }
  .hero-section .content .hs-product .info button {
    margin-left: 0px;
  }
  .hero-section {
    padding-bottom: 0px;
  }
  .hero-section .content .hs-product {
    display: block !important;
  }
  .hero-section .content .hs-product .info,
  .hero-section .content .hs-product .image-wraper {
    margin: 0 auto;
    padding: 0;
  }
  .hero-section .content .hs-product .info {
    width: 100%;
    margin-top: 30px;
    padding: 5px;
  }
  .hero-section .content .hs-product .image-wraper {
    width: 85%;
    max-width: 400px;
    min-width: 300px;
    padding: 5px;
  }
  .hero-section .content .hs-product .info .name,
  .hero-section .content .hs-product .info .discount-title {
    font-size: 1.8rem;
  }
  .hero-section .content .hs-product .info .discount-title span {
    font-size: 2rem;
  }
  .hero-section .content .hs-product .info button {
    position: static;
    margin-top: 20px;
  }
}
@media (max-width: 600px) {
  .hero-section .content .hs-product .info .name,
  .hero-section .content .hs-product .info .discount-title {
    font-size: 1.2rem;
  }
  .hero-section .content .hs-product .info .discount-title span {
    font-size: 1.4rem;
  }
}
.hero-section .arrow {
  color: var(--primary-color);
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.hero-section .arrow svg {
  font-size: 40px;
}
.hero-section .arrow:hover {
  color: var(--main-color);
}
.hero-section .next {
  right: 0;
}
.hero-section .prev {
  left: 10px;
}
