/* for small & medium screens : */
.nav .small {
  position: relative;
  text-align: start;
}

.nav .small .menu {
  position: absolute;
  z-index: 1000000;
  min-width: 60vw;
  box-shadow: 0px 0px 5px gray;
  background-color: white;
  border-radius: var(--radius-1);
  padding: var(--space-2) !important;
  left: var(--space-1);
}
.nav .small .menu .categories-wraper {
  border-radius: var(--radius-1);
}
.nav .small .categories-wraper button {
  width: 100%;
  justify-content: space-between;
  background-color: orange;
  color: white;
  text-transform: capitalize;
  padding: var(--space-1);
  font-weight: bold;
  font-size: 1rem;
  border-radius: var(--radius-1);
  box-shadow: none;
}
.nav .small .hide {
  display: none;
}
.nav .small .show {
  display: block;
}
.nav .small .menu .link {
  display: block;
  margin: var(--space-1) 0;
  padding: var(--space-1);
  font-weight: bold;
  font-size: 1rem;

  border-radius: var(--radius-1);
}
.nav .small .menu .categories .item {
  display: block;
  margin: var(--space-1) 0;
  padding: var(--space-1);
  background-color: var(--green-600);
  color: white !important;
  border-radius: var(--radius-1);
}
.nav .small .menu .link:last-child {
  margin-bottom: 0;
}
/* ======================= */

/* for large screens  : */
@media (min-width: 768px) {
  .nav {
    border-top: 1px solid var(--gray-300);
  }
}

.list-container {
  position: relative;
}
.list-container .show-categories-btn {
  color: white;
  padding: var(--space-2) var(--space-3);
  display: flex;
  align-items: center;
  font-weight: bold;
  box-shadow: none;
  border-radius: 8px;
  margin: var(--space-1) 0;
  width: 200px;
  background-image: linear-gradient(
    to right,
    #606c88 0%,
    #3f4c6b 51%,
    #606c88 100%
  );
  /* background: linear-gradient(
    65deg,
    rgba(19, 163, 207, 1) 0%,
    rgba(81, 176, 94, 1) 100%
  ); */
}
.list-container .list {
  border-radius: 8px;
  position: absolute;
  width: 100%;
  padding: 0px 5px !important;
  background-color: white;
  box-shadow: 0px 0px 8px gray;
  z-index: 201;
}
.list-container .list li {
  padding: 10px 5px;
  border-radius: 10px;
  text-align: start;
  font-weight: bold;
  transition: var(--main-tr);
}

.list-container .list li:hover {
  background: linear-gradient(
    65deg,
    rgba(19, 163, 207, 1) 0%,
    rgba(81, 176, 94, 1) 100%
  );
  color: white;
}
.list-container .list li.active {
  background-color: var(--red-500);
  color: white;

  background-image: linear-gradient(
    to right,
    #606c88 0%,
    #3f4c6b 51%,
    #606c88 100%
  );
}

@media (min-width: 968px) {
  .nav .content-lg .links {
    margin-right: 230px;
  }
}
.nav .content-lg .link {
  color: var(--primary-color, black);
  font-weight: bolder;
  padding: 0;
  position: relative;
  font-size: 1rem;
}
.nav .content-lg .link::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 3px;
  background: orange;
  transition: var(--tr-2);
  bottom: -2px;
  left: 0;
}
.nav .content-lg .link:hover,
.nav .content-lg .link.active {
  background: none;
  color: var(--main-color, black);
}

.nav .content-lg .link:hover::after,
.nav .content-lg .link.active::after {
  width: 100%;
}

.nav .content-lg .link.active {
  pointer-events: none;
  cursor: auto;
}

/* ===================== */
