/* slider arrows (horizontal scroll arrows in slick component) */

.slider {
  position: relative;
}

.slider .arrow {
  position: absolute;
  background-color: rgb(54, 54, 54);
  color: white;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.3s;
  z-index: 1;
  width: 40px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .arrow svg {
  font-size: 30px;
}
.slider .next {
  right: 10px;
}
.slider .prev {
  left: 10px;
}
.slider .arrow:hover {
  background-color: red;
}
.slider .prev svg {
  margin-left: 10px;
}

/* ====================== */
