.new-password-page {
  padding-top: 100px;
  min-height: 100vh;
}
.new-password-page .form {
  width: 100%;
  max-width: 350px;
  box-shadow: var(--main-shadow);
  padding: 20px;
  margin: 0px auto;
  border-radius: 10px;
}
.new-password-page .form .form-title {
  color: var(--secondary-color);
  text-decoration: underline;
}
.new-password-page .form .error {
  background-color: #ffe5e5;
  width: 100%;
  padding: 5px;
  border-left: 5px solid red;
  color: red;
  margin-top: 20px;
  line-height: 1.6;
}
.new-password-page .form .input {
  margin: 15px 0px;
}
.new-password-page .form .password-strength {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 4px;
  height: 7px;
}
.new-password-page .form .create-btn {
  background-color: var(--secondary-color);
  box-shadow: none;
  font-weight: bold;
  width: 200px;
  transition: var(--main-tr);
}
.new-password-page .form .create-btn:hover {
  background-color: red;
}
