ul {
  margin: 0 !important;
  padding: 0 !important;
}
.product {
  width: 100%;
  transition: all 0.09s;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
}

.product:hover .wraper .image {
  cursor: pointer;
  transform: scale(1.05);
}
.product .wraper,
.product .details {
  width: 100%;
  padding: 8px;
}
.product .wraper {
  position: relative;
  background-color: #f3f3f6;
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .image {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  object-position: center;
  display: block;
}
.product .discount-value {
  color: white;
  background-color: red;
  padding: 1px;
  border-radius: 5px;
  width: 40px;
  z-index: 10;
}
.product .new {
  color: white;
  background-color: rgb(6, 184, 216);
  padding: 1px;
  border-radius: 5px;
  width: 40px;
  z-index: 10;
}
.product .details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: start;
}

.product .details .product-name {
  font-size: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  margin: 0;
}
.product .details .product-name:hover {
  color: red;
}
.product .details .price {
  color: #ff1744;
  font-weight: bold;
  font-size: 1rem;
}

.product .details ul li {
  font-size: 14px;
}
@media (width<=378px) {
  .product {
    margin: 0 auto;
  }
}

.product .add-to-cart-wraper {
  width: 100%;
  position: relative;
}

.product .add-to-cart-wraper .add-to-cart-btn {
  background-color: rgb(12, 131, 201);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 2px;
  width: 100%;
}
.product .add-to-cart-wraper .view-cart-btn {
  font-weight: bold;
  border-radius: 2px;
  width: 100%;
  background-color: green;
}

.product .add-to-cart-wraper button:hover {
  background-color: red;
}

.product .add-to-cart-wraper .loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(12, 131, 201);
  color: rgb(255, 251, 251);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 5px;
}

.product .add-to-cart-wraper .loading .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  border-top: 3px solid transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.product .wraper .cta-btns {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.37);
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 1;
  bottom: -50px;
  cursor: auto;
  transition: all 0.3s;
}
.product .wraper .cta-btns svg {
  font-size: 1.8rem;
  cursor: pointer;
}
.product .wraper .cta-btns svg:hover {
  box-shadow: 0px 0px 7px white;
  border-radius: 5px;
  padding: 1px;
}
.product:hover .wraper .cta-btns {
  bottom: 0;
}
@media (max-width: 600px) {
  .product .wraper {
    border-radius: 0;
    display: block;
    overflow: visible;
    padding: 0;
  }
  .product .wraper .cta-btns {
    position: static;
  }
  .product:hover .wraper .image {
    transform: none;
  }
}
