@media (max-width: 900px) {
  .promo-section-container {
    display: none;
  }
}
.promo-section-container {
  position: relative;
}
.promo-section-container .arrow {
  color: white;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.promo-section-container .arrow svg {
  font-size: 60px;
}
.promo-section-container .next {
  right: 0;
}
.promo-section-container .prev {
  left: 10px;
}
