.shared {
  min-height: calc(100vh - 75px);
  padding: 20px 0px;
}
.shared .head {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid rgb(194, 193, 193);
  margin-bottom: 20px;
}
.shared .head .icon {
  width: 40px;
  height: 40px;
  color: rgb(194, 193, 193);
}
.shared .head .s-title {
  font-size: 2rem;
  font-weight: bold;
  color: #c2c1c1;
}

.shared .empty {
  background-color: #f6fbff;
  color: gray;
  font-weight: bold;
  padding: 100px 10px;
}

.shared .empty .icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.shared .empty button {
  background-color: var(--dark-color);
  box-shadow: none;
  margin-top: 40px;
  transition: var(--main-tr);
}
.shared .empty button:hover {
  background-color: var(--secondary-color);
}
.shared .error {
  margin: 0% auto;
  margin-top: 40px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  padding: 20px 10px;
  text-transform: capitalize;
  box-shadow: 0px 0px 8px red;
  border-radius: 40px;
  animation: moveUp 1s ease-out forwards;
}

@keyframes moveUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.shared .error .icon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  color: white;
  background-color: var(--light-red);
  position: relative;
}
.shared .error .icon::after {
  position: absolute;
  content: "+";
  font-size: 5.5rem;
  color: white;
  top: -47%;
  left: 14px;
  transform: rotate(45deg);
}
.shared .error .error-title {
  color: var(--light-red);
  font-weight: bold;
}
.shared .error .text {
  color: var(--dark-color);
  font-size: 1.1rem;
}
.shared .error button {
  background-color: var(--light-red);
  box-shadow: none;
  margin-top: 10px;
  transition: var(--main-tr);
}
.shared .error button:hover {
  background-color: var(--secondary-color);
}

@media (max-width: 600px) {
  .shared .error {
    border-radius: 15px;
  }
  .shared .empty {
    padding: 30px 10px;
  }

  .shared .head .s-title {
    font-size: 20px;
  }
  .shared .head .icon {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 900px) {
  .shared {
    min-height: calc(100vh - 135px);
  }
}

@keyframes;
