.forgot-password-page .form-wraper {
  min-height: 100vh;
  padding: 100px 0;
}

.forgot-password-page .form-wraper .form {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: var(--main-shadow);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 0px auto;
}

.forgot-password-page .form-wraper .form .form-title {
  color: var(--main-color);
  text-decoration: underline;
}
.forgot-password-page .form-wraper .form .text {
  padding: 5px;
  border: 1px solid #e6db55;
  border-radius: 5px;
  background-color: #ffffe0;
  color: gray;
}
.forgot-password-page .form-wraper .form .error {
  background-color: #ffe5e5;
  width: 100%;
  padding: 5px;
  border-left: 5px solid red;
  color: red;
}
.forgot-password-page .form-wraper .form .reset-btn {
  display: block;
  margin-top: 20px;
  width: 200px;
  background-color: var(--main-color);
  font-weight: bold;
  box-shadow: none;
  transition: var(--main-tr);
}
.forgot-password-page .form-wraper .form .reset-btn:hover {
  background-color: red;
}
