.dashboard {
  min-width: 0px;
  height: 100%;
}
.dashboard .wraper .top-products-table,
.dashboard .wraper .restock,
.dashboard .wraper .recent-orders,
.dashboard .wraper .new-customers,
.dashboard .wraper .last-comments {
  text-align: start;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: var(--radius-4);
  padding: var(--space-3);
  max-width: 100%;
}

.dark .dashboard .wraper .top-products-table,
.dark .dashboard .wraper .restock,
.dark .dashboard .wraper .recent-orders,
.dark .dashboard .wraper .new-customers,
.dark .dashboard .wraper .last-comments {
  background-color: var(--bg-card);
}

.dashboard .wraper > .section .cards-title {
  font-weight: bold;
  color: var(--text-2);
  margin-bottom: var(--space-4);
  text-align: start;
}
.dashboard .wraper > .section th {
  border-color: var(--gray-200);
  font-weight: bold;
  color: var(--text-2);
  padding: var(--space-1) var(--space-2);
  font-size: 1rem;
}
.dark .dashboard .wraper > .section th {
  border-color: var(--gray-700);
}
.dashboard .wraper > .section td {
  padding: var(--space-1) var(--space-2);
  border: none;
  color: var(--text-2);
}
.dashboard .wraper > .section tbody tr {
  transition: var(--main-tr);
}
.dashboard .wraper > .section tbody tr:hover {
  background-color: var(--gray-100);
}
.dark .dashboard .wraper > .section tbody tr:hover {
  background-color: var(--gray-800);
}

.dashboard .wraper > .section .name-wraper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.dashboard .wraper > .section .name-wraper .info {
  flex-grow: 1;
}
.dashboard .wraper > .section .name {
  color: var(--text-2);
  margin-bottom: var(--space-1);
  font-size: 14px;
  font-weight: bold;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  max-width: 250px;
}
.dashboard .wraper > .section .p-quantity {
  color: var(--text-3);
}
.dashboard .wraper > .section .p-image {
  width: 50px;
  height: 50px;
  padding: var(--space-1);
  object-position: center;
  background-color: var(--gray-200);
  border-radius: var(--radius-2);
}

.dark .dashboard .wraper > .section .p-image {
  background-color: var(--gray-300);
}

.dashboard .wraper > .section .p-image img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.dashboard .wraper .top-products-table table {
  min-width: 600px;
}
.dashboard .wraper .restock table {
  min-width: 450px;
}
/*==== scroll bar settings ===== :  */

.dashboard .wraper > .section .table-container::-webkit-scrollbar {
  height: 12px;
}
.dashboard .wraper > .section .table-container::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.02);
}

.dashboard .wraper > .section .table-container::-webkit-scrollbar-thumb {
  background-color: var(--text-4);
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: padding-box;
}
/* ============= */

/* ====low stock products : ==== */

.dashboard .wraper .restock .status {
  width: fit-content;
  padding: 0px var(--space-2);
  margin: var(--space-1) 0px;
  border-radius: var(--radius-2);
  font-weight: bold;
}
.dashboard .wraper .restock .status.low-stock {
  color: #ca8a04;
  background-color: #fef9c3;
}
.dashboard .wraper .restock .status.not-available {
  color: var(--red-500);
  background-color: color-mix(in oklab, var(--red-700) 20%, transparent);
}

.dashboard .wraper .restock .r-product {
  padding: var(--space-1) var(--space-2);
}
.dashboard .wraper .restock .r-product:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

/* ========== */
/* ====recent orders : ==== */
.dashboard .wraper #recent-orders-status {
  width: fit-content;
  padding: 0px var(--space-2);
  margin: var(--space-1) 0px;
  border-radius: var(--radius-2);
  font-weight: bold;
}

#recent-orders-status.paid {
  color: #16a34a; /* green */
  background-color: #d6fce3;
}
#recent-orders-status.processing {
  color: #ca8a04;
  background-color: #fef9c3;
}
#recent-orders-status.shipped {
  color: #2563eb;
  background-color: #dbeafe;
}
#recent-orders-status.delivered {
  color: #15803d;
  background-color: #bbf7d0;
}
#recent-orders-status.cancelled,
#recent-orders-status.returned,
#recent-orders-status.refunded {
  color: #b91c1c; /* red */
  background-color: #fee2e2;
}
/* ==================== */

/* ======= new customers ======= */

.dashboard .wraper > .section .new-customers {
  flex-grow: 2;
  flex-basis: 60%;
}
.dashboard .wraper > .section .new-customers .info .icon {
  width: 40px;
  height: 40px;
  color: var(--gray-500);
  background-color: var(--gray-200);
}
.dark .dashboard .wraper > .section .new-customers .info .icon {
  color: var(--gray-200);
  background-color: var(--gray-700);
}
.dashboard .wraper > .section .new-customers .info .name {
  font-size: 1rem;
}
.dashboard .wraper > .section .new-customers .info .email {
  color: var(--text-3);
}
/* ==================== */

/* ====== see all btn ====== */
#button-see-all {
  background-color: transparent;
  box-shadow: none;
  text-transform: none;
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid var(--gray-400);
  border-radius: var(--radius-2);
  color: var(--text-3);
  transition: var(--main-tr);
}
.dark #button-see-all {
  border-color: var(--gray-300);
}
#button-see-all:hover {
  color: var(--text-1);
}

/* ==================== */

/* ============ last comments ============ */
.dashboard .last-comments {
  min-width: 250px;
  flex-basis: 45%;
}
.dashboard .last-comments .comments-wraper {
  max-height: 400px;
  overflow-y: auto;
  margin-right: calc(var(--space-3) * -1);
  padding-right: var(--space-1);
}
.dashboard .last-comments .cards-title {
  margin-bottom: var(--space-3);
}
.dashboard .last-comments .comment {
  border-bottom: 1px solid var(--text-5);
  padding: var(--space-1);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-2);
  color: var(--text-2);
  margin-bottom: var(--space-2);
}
.dashboard .last-comments .comment .info {
  flex-grow: 1;
}
.dashboard .last-comments .comment .info .stars {
  font-size: 1rem;
  margin-bottom: var(--space-2);
}
.dashboard .last-comments .comment .stars .MuiRating-iconEmpty {
  color: var(--text-5);
}
.dashboard .last-comments .comment .info .name {
  font-size: 1rem;
  text-transform: capitalize;
}
.dashboard .last-comments .comment .text {
  margin: 0;
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-all;
}
.dashboard .last-comments .comment-date {
  font-size: 14px;
  color: var(--text-3);
  text-align: right;
}
/* ==================== */

@media (max-width: 600px) {
  .dashboard .wraper .top-products-table table {
    min-width: 600px;
  }
  .dashboard .wraper .restock table {
    min-width: 450px;
  }
  .dashboard .wraper .recent-orders table {
    min-width: 800px;
  }
  .dashboard .wraper .new-customers table {
    min-width: 500px;
  }
  .dashboard .wraper > .section .cards-title {
    font-size: 1.1rem;
  }
  #button-see-all {
    font-size: 14px;
  }
}
