.account-cmp .avatar {
  width: 32px;
  height: 32px;
  font-size: "10px";
  color: "white";
  background-color: var(--gray-400);
}
#account-menu {
  padding: 5px;
  border: 1px solid var(--gray-300);
  border-radius: 5px;
}
#account-menu .MuiButtonBase-root {
  border-radius: 5px;
}
