.products-category {
  margin-top: 40px;
}
.products-category > .content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.products-category .fast-filter {
  width: fit-content;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}
.products-category .fast-filter button {
  text-transform: capitalize;
  color: black;
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  border: 1px solid gray;
  transition: all 0.4s;
}
.products-category .fast-filter button:hover {
  color: white;
  background-color: red;
  border-color: red;
}
.products-category .fast-filter button svg {
  font-size: 20px;
  transition: all 0.4s;
}
.products-category .fast-filter button:hover svg {
  color: white !important;
}

@media (max-width: 944px) {
  .products-category .content {
    flex-direction: column;
    margin-top: 0;
  }
}

.products-category .content .wraper .products {
  min-height: 70vh;
}
.products-category .content .wraper .pagination {
  margin-top: 20px;
  justify-content: center;
}
