.header {
  /* background: linear-gradient(to left, #0a151a, #203a43, #2c5364); */
  /* background: linear-gradient(to left, #2c3e50, #242323); */
  z-index: 2;
  width: 100%;
  margin-bottom: 40px;
  /* box-shadow: 0px 0px 5px gray; */
}
.header .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  row-gap: 5px;
  min-height: 70px;
  height: fit-content;
  padding: 5px 0;
}
.header .content #logo {
  height: 65px;
}
@media (max-width: 900px) {
  .header {
    margin-bottom: 0px;
  }
}
