ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

.filter-cmp .filter-container {
  border: 1px solid var(--gray-300);
  padding: 10px 20px;
  text-align: start;
  width: 300px;
  height: fit-content;
}
.filter-cmp .close-filter-btn {
  background-color: red !important;
  display: block;
  box-shadow: none;
}
.filter-cmp .close.btn-filter-wraper {
  display: block;
}
.filter-cmp .show-filter-btn {
  width: 100%;
  border: 1px solid gray;
  display: none;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}
@media (max-width: 944px) {
  .filter-cmp .filter-container {
    width: 100% !important;
    height: 100vh !important;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow: auto;
    z-index: 10000;
  }
  .filter-cmp .show-filter-btn {
    display: flex;
  }
}
@media (min-width: 944px) {
  .filter-cmp .close-btn-filter-wraper {
    display: none !important;
  }
}
.filter-cmp .f-title {
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  color: gray;
}

.filter-cmp .categories-filter .category {
  display: block;
  font-size: 18px;
  padding: 5px 0;
}
.filter-cmp .categories-filter .category:hover {
  font-weight: bold;
}
.filter-cmp .categories-filter .active {
  color: red;
  font-weight: bold;
}
.filter-cmp .price-filter {
  border-bottom: 1px solid gray;
}
.filter-cmp .price-filter .range {
  color: var(--gray-600);
  font-size: 14px;
}
.filter-cmp #filter-price-btn {
  border-radius: 5px;
  font-weight: bold;
}
.filter-cmp #filter-price-btn:hover {
  color: white;
  background-color: var(--main-color);
}
