.product-details {
  padding: 30px 0;
}

.product-details .box {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.product-details .box .images {
  height: 100%;
  background-color: rgb(247, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-details .box .images img {
  max-width: 100%;
  max-height: 500px;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1/1;
}
.product-details .box .info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.product-details .box .info .product-name {
  font-size: 20px;
  text-align: left;
  margin: 0;
}
.product-details .box .info .rating {
  text-align: start;
  display: flex;
  align-items: center;
  gap: 3px;
  color: gray;
}
.product-details .box .info .price {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  align-items: center;
}
.product-details .box .info .old-price {
  color: red;
  text-decoration: line-through;
  font-size: 1.25rem;
}
.product-details .box .info .new-price {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}
.product-details .box .info .btns {
  width: 100%;
}
.product-details .product-cta {
  border: 1px solid gray;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}
.product-details .product-cta .quantity {
  position: relative;
  border: 1px solid gray;
  width: 100%;
  border-radius: 10px;
}
.product-details .product-cta .quantity .number {
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5px 10px;
  font-size: 1.5rem;
  color: gray;
  width: 100%;
  height: 44.5px;
}

.product-details .product-cta .quantity .plus,
.product-details .product-cta .quantity .minus {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  z-index: 100;
  outline: none;
  border: none;
  background-color: transparent;
  top: 50%;
  transform: translateY(-57%);
}
.product-details .product-cta .quantity .plus {
  right: 10px;
}
.product-details .product-cta .quantity .minus {
  left: 10px;
}

.product-details .product-cta .add-to-cart,
.product-details .product-cta .buy-now,
.product-details .product-cta .wishlist,
.product-details .product-cta .compare {
  background-color: red;
  text-transform: capitalize;
  box-shadow: none;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  padding: 10px;
  transition: all 0.3s;
  width: 100%;
  font-weight: bold;
}
.product-details .product-cta .wishlist,
.product-details .product-cta .compare {
  background-color: rgb(6, 107, 240);
}
.product-details .product-cta .buy-now {
  background-color: green;
}
.product-details .product-cta .add-to-cart:hover,
.product-details .product-cta .buy-now:hover {
  background-color: rgb(6, 107, 240);
}
.product-details .product-cta .compare:hover,
.product-details .product-cta .wishlist:hover {
  background-color: red;
}

.product-details .product-cta .total-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}
.product-details .product-cta .total-price span {
  font-weight: bold;
  color: orangered;
}

.product-details .box .sub-title {
  color: rgb(71, 71, 71);
  font-weight: bold;
  text-align: start;
  color: #747373;
  width: fit-content;
}
