.review-card {
  margin-top: 10px;
  border: 1px solid var(--gray-300);
  background-color: var(--gray-50);
  border-radius: 10px;
  padding-top: 10px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  overflow: visible;
}

.review-card * {
  margin: 0;
  text-align: start;
}

.review-card > * {
  padding: 0 15px;
}

.review-card .info {
  padding: 0;
  gap: 10px;
  margin-bottom: 20px;
  margin-left: 60px;
}
.review-card .avatar {
  position: absolute;
  top: -9.7px;
  left: -9.6px;
  z-index: 2;
  padding: 0px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid transparent;
  border-right-color: var(--gray-300);
  border-bottom-color: var(--gray-300);
}
.review-card .avatar img {
  width: 55px;
  height: 55px;
  position: relative;
  object-fit: contain;
}

.review-card .firstName {
  font-size: 1.1rem;
  font-weight: bolder;
  color: var(--primary-color);
  color: #019267;
  margin: 0;
}
.review-card .date {
  font-size: 14px;
  font-weight: bold;
  color: gray;
  text-decoration: underline;
}
.review-card .content {
  flex-grow: 1;
}
.review-card .content > * {
  margin-bottom: 5px;
}
.review-card .content .rate-wraper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.review-card .content .rate-wraper .rate {
  font-size: 1.7rem;
}
.review-card .content .rate-wraper .rate-value {
  background-color: #019267;
  color: white;
  padding: 1px 2px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
}
.review-card .content .comment {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.5;
}
.review-card .content .see-more {
  color: var(--main-color);
  cursor: pointer;
  display: block;
  background: none;
  text-transform: lowercase;
  font-weight: bold;
  padding: 0;
}
#full-comment {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-y: scroll;
  line-height: 1.6;
  color: var(--primary-color);
  font-size: 18px;
}
.review-card .linked-product {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
  border-top: 1px solid #e0e0e0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  color: #555;
}

.review-card .linked-product img {
  aspect-ratio: 1/1;
  width: 50px;
  object-fit: contain;
}
.review-card .linked-product .name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  margin: 0;
  color: var(--primary-color);
}
.review-card .linked-product .name:hover {
  color: red;
}
.review-comment {
  margin-top: 8px;
  font-size: 0.95rem;
  color: #444;
  line-height: 1.4;
}
