.item-product {
  margin-bottom: var(--space-2);
  padding: var(--space-1);
  border: 1px solid var(--gray-300);
  border-radius: var(--radius-2);
  background-color: white;
}
.item-product .image {
  aspect-ratio: 4/3;
  object-fit: contain;
  object-position: center;
  max-width: 100%;
  padding: 2px;
}
.item-product .info {
  text-align: start;
}
.item-product .info .product-name {
  color: var(--primary-color);
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}
.item-product .info .product-name:hover {
  color: red;
}
.item-product .info .price {
  display: flex;
  gap: 15px;
  color: red;
  margin-bottom: 10px;
}
.item-product .info .price .original-price {
  text-decoration: line-through;
}
.item-product .info .price .new-price {
  font-weight: bold;
}
.item-product .btns-wraper {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}
@media (min-width: 600px) {
  .item-product .btns-wraper {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.item-product .btns-wraper .add svg,
.item-product .btns-wraper .delete svg {
  transition: var(--main-tr);
  font-size: 1.8rem;
}

.item-product .btns-wraper .add {
  color: var(--main-color);
  background: none;
}

.item-product .btns-wraper .delete {
  color: red;
  background: none;
}

@media (max-width: 600px) {
  .item-product {
    padding: 10px;
  }
  .item-product .btns-wraper {
    justify-content: space-between;
    width: 100%;
  }
  .item-product .btns-wraper .add {
    width: 100px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--main-color);
  }
  .item-product .btns-wraper .delete {
    width: 100px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid red;
  }
  .item-product .image {
    background-color: rgb(247, 245, 245);
  }
}
