ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

.filter-cmp .filter-container {
  border: 1px solid var(--gray-300);
  padding: 10px 20px;
  text-align: start;
  width: 300px;
  height: fit-content;
}
.filter-cmp .close-filter-btn {
  background: none;
  color: var(--main-color);
  padding: 0;
}
.filter-cmp .close-filter-btn svg {
  box-sizing: content-box;
  border: 1px solid var(--main-color);
  border-radius: 3px;
  padding: 2px;
}
.filter-cmp .close.btn-filter-wraper {
  display: block;
}
.filter-cmp .show-filter-btn {
  width: 100%;
  max-width: 250px;
  border: 1px solid var(--gray-400);
  font-weight: bold;
  color: teal;
  font-size: 14px;
}
@media (max-width: 768px) {
  .filter-cmp .filter-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow: auto;
    z-index: 10000;
  }
}
.filter-cmp .f-title {
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  color: gray;
}

.filter-cmp .categories-filter .category {
  display: block;
  font-size: 18px;
  padding: 5px 0;
}
.filter-cmp .categories-filter .category:hover {
  font-weight: bold;
}
.filter-cmp .categories-filter .active {
  color: red;
  font-weight: bold;
}
.filter-cmp .price-filter {
  border-bottom: 1px solid gray;
}
.filter-cmp .price-filter .range {
  color: var(--gray-600);
  font-size: 14px;
}
.filter-cmp #filter-price-btn {
  border-radius: 5px;
  font-weight: bold;
}
.filter-cmp #filter-price-btn:hover {
  color: white;
  background-color: var(--main-color);
}
