:root {
  /* colors */
  --primary-color: #585858;
  --secondary-color: #2196f3;
  --dark-color: rgb(27, 27, 27);
  --section-color: #daedff;
  --light-red: rgb(241, 62, 62);
  /* =========== */
  /* transitions */
  --main-tr: all 0.3s;
  --tr-2: all 0.4s;
  /* =========== */
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
a {
  text-decoration: none !important  ;
  color: var(--primary-color) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* see all btn : */
.see-all-btn-wraper {
  display: flex;
  justify-content: flex-end;
}
.see-all-btn {
  color: rgb(163, 163, 163);
  background-color: white;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 25px;
  font-weight: bold;
  transition: all 0.3s;
  margin-right: 6.5px;
  margin-bottom: 10.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 6px 8px;
  text-transform: uppercase;
}
.see-all-btn:hover {
  color: white;
  background-color: red;
  border: 1px solid red;
}
@media (max-width: 450px) {
  .see-all-btn-wraper {
    justify-content: center;
  }
  .see-all-btn {
    margin-right: 0;
  }
}
/*===== see all btn  =====*/

/* btn effect  */

.btn-effect {
  overflow: hidden;
  position: relative;
}
.btn-effect span {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.btn-effect span:first-of-type {
  position: relative;
}
.btn-effect span:nth-of-type(2) {
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
}

.btn-effect:hover span:first-of-type {
  transform: translateY(-50%);
  opacity: 0;
}
.btn-effect:hover span:nth-of-type(2) {
  transform: translateY(-50%);
  opacity: 1;
}
/* =========== */
