:root {
  /* colors */
  --main-color: #2196f3;
  --primary-color: #585858;
  --dark-color: rgb(27, 27, 27);
  --section-color: #daedff;
  --light-red: rgb(241, 62, 62);
  --light-green: rgb(2, 165, 2);

  --gray-50: #f9fafb;
  --gray-100: rgb(243, 244, 247);
  --gray-200: rgb(228, 231, 236);
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #1d2939;
  --gray-900: #101828;

  --green-50: #ecfdf3;
  --green-100: #d1fadf;
  --green-300: #6ce9a6;
  --green-400: #32d583;
  --green-500: #12b76a;
  --green-600: #039855;
  --green-700: #027a48;
  --green-800: #05603a;

  --red-50: #fef3f2;
  --red-100: #fee4e2;
  --red-300: #fda29b;
  --red-400: #f97066;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-700: #b42318;
  --red-800: #912018;

  --blue-200: rgba(144, 214, 255, 0.171);

  /* =========== */
  /* transitions */
  --main-tr: all 0.3s;
  --tr-2: all 0.4s;
  /* =========== */
  --main-shadow: 0 8px 25px rgba(58, 123, 213, 0.2);

  /* background: linear-gradient(
    65deg,
    rgba(19, 163, 207, 1) 0%,
    rgba(81, 176, 94, 1) 100%
  ); */
}

body.dark {
  --bg-color: #101828;
}

.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
a {
  text-decoration: none !important  ;
  color: var(--primary-color) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* see all btn : */
.see-all-btn-wraper {
  display: flex;
  justify-content: flex-end;
}
.see-all-btn {
  color: rgb(163, 163, 163);
  background-color: white;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 25px;
  font-weight: bold;
  transition: all 0.3s;
  margin-right: 6.5px;
  margin-bottom: 10.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 6px 8px;
  text-transform: uppercase;
}
.see-all-btn:hover {
  color: white;
  background-color: red;
  border: 1px solid red;
}
@media (max-width: 450px) {
  .see-all-btn-wraper {
    justify-content: center;
  }
  .see-all-btn {
    margin-right: 0;
  }
}
/*===== see all btn  =====*/

/* btn effect  */

.btn-effect {
  overflow: hidden;
  position: relative;
}
.btn-effect span {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.btn-effect span:first-of-type {
  position: relative;
}
.btn-effect span:nth-of-type(2) {
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
}

.btn-effect:hover span:first-of-type {
  transform: translateY(-50%);
  opacity: 0;
}
.btn-effect:hover span:nth-of-type(2) {
  transform: translateY(-50%);
  opacity: 1;
}
/* =========== */
